<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Formulario</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <div class="col-8 m-auto pt-2 text-center">
        <h1>Visualização</h1>
    </div>


  <div class="col-8 m-auto pt-2 text-center">
        <a href="/" class="btn btn-success">Voltar</a>
    </div>
  <div class="col-8 m-auto pt-4 pb-2 text-center">
        <strong>Nome_completo: </strong>{{db.Nome_completo}}<br>
              <strong>RG: </strong>{{db.RG}}<br>
              <strong>CPF: </strong>{{db.CPF}}<br>
              <strong>Data_nascimento: </strong>{{db.Data_nascimento}}<br>
              <strong>Data_de_expedição: </strong>{{db.Data_de_expedição}}<br>
              <strong>Orgão_emiçor: </strong>{{db.Orgão_emiçor}}<br>
              <strong>Estado_civil: </strong>{{db.Estado_civil}}<br>
              <strong>Nome_da-Mãe: </strong>{{db.Nome_da_Mãe}}<br>
              <strong>Empresa: </strong>{{db.Empresa}}<br>
              <strong>Regime_de_trabalho: </strong>{{db.Regime_de_trabalho}}<br>              <td>{{dbs.Profição}}</td>
              <strong>Salario_bruto: </strong>{{db.Salario_bruto}}<br>
              <strong>Salario_liquido: </strong>{{db.Salario_liquido}}<br>
              <strong>Endereço_residencial: </strong>{{db.Endereço_residencial}}<br>
              <strong>Numero: </strong>{{db.Numero}}<br>
              <strong>Bairro: </strong>{{db.Bairro}}<br>
              <strong>Cidade: </strong>{{db.Cidade}}<br>
              <strong>Estado: </strong>{{db.Estado}}<br>
              <strong>CEP: </strong>{{db.CEP}}<br>
</div>

    </div>
</body>
</html>

</body>
</html>